/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the welcome section */
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the section takes up the full height of the viewport */
    background: #250821;
}

/* Style for the animated blob */
.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    /*background: #fff;*/
}

/* Style for the blob container */
.blob-container {
    position: relative;
    width: 500px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    margin: auto;
}

/* Style for the button container */
.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style for the Get Started button */
#getStartedButton {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-family: 'Verdana', sans-serif; /* Choose a nice font */
    font-size: 1.5rem; /* Adjust font size */
    color: #ffffff; /* Set text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 20px; /* Add padding to make the button clickable */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Style for the Get Started button on hover */
#getStartedButton:hover {
    color: #FFB8BF; /* Change text color on hover */
}
